@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .amount input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .drop-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .drop-list .from, .drop-list .to {
    flex: 1;
    text-align: center;
  }
  
  .drop-list .select-box {
    position: relative;
  }
  
  .drop-list select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* To hide default select arrow */
  }
  
  .drop-list .select-box img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 40px;
    border-radius: 5px;
  }
  
  .exchange-rate {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc;
  }